/*Study difference between ID and Class*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color: salmon;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}
.center-container {
    max-width: 600px;
    margin: auto;
    padding: 0px;
    text-align: center;
}
